<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="get($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size-xs="12" size-lg="10">

        <ng-container *ngIf="(logs$ |async) as logs">
          <ion-list>

            <!-- <ion-card *ngFor="let item of logs">
              <ion-card-header>
                <ion-card-title>{{item.id | date:'shortDate'}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col size="12">
                    <ion-label>Last Log: {{ item.lastLog.start.toDate() | date:'shortTime' }} / {{ item.lastLog.type }}</ion-label>
                  </ion-col>
                  <ion-col size="12">

                    <ion-chip *ngIf="item.total.sleep" color="primary" mode="ios" outline="true">
                      <ion-icon name="bed-outline"></ion-icon>
                      <ion-label>Sleep</ion-label>
                      <ion-badge>{{item.total.sleep}}</ion-badge>
                    </ion-chip>

                    
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card> -->

            <ion-item *ngFor="let item of logs">
              <ion-label class="ion-text-wrap">
                <ion-text color="primary">
                  <h3>{{item.start.toDate() | date:'medium'}}</h3>
                </ion-text>
                <p>{{ item.type }}</p>
              </ion-label>

              <ion-icon *ngIf="item.type ==='sleep'" name="bed-outline" slot="end"></ion-icon>
              <ion-icon *ngIf="item.type ==='wakeup'" name="partly-sunny-outline" slot="end"></ion-icon>
              <ion-icon *ngIf="item.type ==='feed'" name="fast-food-outline" slot="end"></ion-icon>
              <ion-icon *ngIf="item.type ==='poop'" name="bonfire-outline" slot="end"></ion-icon>
              <ion-icon *ngIf="item.type ==='shower'" name="rainy-outline" slot="end"></ion-icon>
              <ion-icon color="primary" name="ellipsis-vertical" (click)="more(item)" slot="end"></ion-icon>
            </ion-item>
            <!-- <ion-item-sliding *ngFor="let item of logs">
              
              
              <ion-item-options side="end">
                <ion-item-option color="danger">
                  <ion-icon slot="icon-only" name="trash"(click)="remove(item)"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding> -->

          </ion-list>

        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-modal trigger="open-modal" [initialBreakpoint]="0.85" [breakpoints]="[0.25, 0.5, 0.85]" [backdropDismiss]="true"
    (ionModalWillPresent)="loadValues()">

    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-text-center">New Log</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">
              <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-accordion-group [value]="'second'">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>{{ logDate | date:'medium'}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-datetime #datetimelog [value]="logDate" (ionChange)="logDate =datetimelog.value"></ion-datetime>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Type</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-radio-group [(ngModel)]="logType">

                  <ion-item>
                    <ion-label>Sleep</ion-label>
                    <ion-radio value="sleep"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Woke up</ion-label>
                    <ion-radio value="wakeup"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Feed</ion-label>
                    <ion-radio value="feed"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Poop</ion-label>
                    <ion-radio value="poop"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Shower</ion-label>
                    <ion-radio value="shower"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-button color="primary" (click)="add()" [disabled]="!ready()" expand="full">
                Confirm
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>



      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>